:root {
  --white: hsla(0, 0%, 100%, 1);

  --gray-300: hsla(263, 4%, 74%, 1);

  --purple-500: hsla(263, 60%, 50%, 1);
  --purple-600: hsla(261, 67%, 42%, 1);
  --purple-700: hsla(260, 74%, 35%, 1);
}

html,
body,
#root {
  height: 100%;
}

* {
  font-family: 'Rubik Variable', sans-serif;
  margin: 0;
  padding: 0;
}
