:root {
  --white: hsla(0, 0%, 100%, 1);

  --gray-50: hsla(263, 33%, 96%, 1);
  --gray-100: hsla(263, 15%, 91%, 1);
  --gray-200: hsla(263, 8%, 84%, 1);
  --gray-300: hsla(263, 4%, 74%, 1);
  --gray-400: hsla(263, 3%, 64%, 1);
  --gray-500: hsla(263, 2%, 54%, 1);
  --gray-600: hsla(263, 2%, 44%, 1);
  --gray-700: hsla(263, 2%, 34%, 1);
  --gray-900: hsla(263, 2%, 15%, 1);

  --purple-25: hsla(277, 100%, 99%, 1);
  --purple-50: hsla(275, 100%, 95%, 1);
  --purple-100: hsla(272, 80%, 85%, 1);
  --purple-200: hsla(270, 70%, 74%, 1);
  --purple-300: hsla(268, 67%, 64%, 1);
  --purple-500: hsla(263, 60%, 50%, 1);
  --purple-600: hsla(261, 67%, 42%, 1);
  --purple-700: hsla(260, 74%, 35%, 1);

  --red-300: hsla(4, 96%, 80%, 1);
  --red-500: hsla(4, 86%, 58%, 1);

  --backdrop: hsla(263, 2%, 15%, 0.4);
  --shadow: hsla(257, 91%, 21%, 0.15);
}

html,
body,
#root {
  height: 100%;
}

* {
  font-family: 'Rubik Variable', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
