.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 500;
  border-radius: 8px;
  width: 100%;
  color: var(--c-white);
  border: none;
  cursor: pointer;
  transition: background-color 200ms;
}

.primary {
  background-color: var(--c-purple-500);
}
.primary:hover {
  background-color: var(--c-purple-600);
}
.primary:active {
  background-color: var(--c-purple-700);
}
.primary:focus {
  background-color: var(--c-purple-500);
  outline: 2px solid var(--c-purple-600);
}

.secondary {
  background-color: var(--c-purple-50);
  color: var(--c-purple-500);
}
.secondary:hover {
  background-color: var(--c-purple-100);
}
.secondary:focus {
  background-color: var(--c-purple-50);
  outline: 2px solid var(--c-purple-200);
}

.outline {
  background-color: transparent;
  border: 1px solid var(--c-gray-100);
  color: var(--c-gray-700);
}
.outline:hover {
  background-color: var(--c-gray-50);
}
.outline:focus {
  background-color: var(--c-gray-100);
}

.md {
  padding: 10px 20px;
  font-size: 14px;
  height: 40px;
}
.sm {
  padding: 8px 16px;
  font-size: 12px;
  height: 32px;
}
