.wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.dialog {
  position: relative;
  background-color: #fff;
  max-width: 600px;
  width: 100%;
  padding: 48px;
  margin: 0 12px;
}

.show {
  display: flex;
  opacity: 1;
  animation: 0.2s show-wrapper;
}
.hide {
  display: none;
  opacity: 0;
  animation: 0.2s hide-wrapper;
}

.show .dialog {
  animation: 0.2s show-dialog;
}
.hide .dialog {
  animation: 0.2s hide-dialog;
}

@keyframes show-wrapper {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: flex;
    opacity: 1;
  }
}
@keyframes hide-wrapper {
  0% {
    display: flex;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes show-dialog {
  0% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes hide-dialog {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(12px);
  }
}

.closeButton {
  cursor: pointer;
  position: absolute;
  top: 32px;
  right: 32px;
  background-color: transparent;
  border: none;
}
