.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 0 80px;
  border-bottom: 1px solid var(--c-gray-100);
}

@media screen and (max-width: 1000px) {
  .header {
    padding: 0 24px;
  }
}

.nav {
  display: flex;
  gap: 40px;
}

.navBarLink {
  color: var(--c-gray-600);
  text-decoration: none;
}

.selectedLink {
  font-weight: 600;
}

.logOut {
  color: var(--c-gray-600);
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.verticalDivider {
  width: 1px;
  background-color: var(--c-gray-300);
  height: 100%;
}
