.wrapper {
  position: relative;
  border-radius: 8px;
  transition: outline-color 200ms;
}

.default {
  outline: 1px solid var(--gray-300);
}
.default:focus-within {
  outline: 2px solid var(--purple-500);
}

.error {
  outline: 1px solid var(--red-300);
}
.error:focus-within {
  outline-width: 2px;
}

.input {
  padding: 10px 14px;
  font-size: 16px;
  border-radius: 8px;
  width: 100%;
  border: none;
  outline: none;
}

.withIcon {
  padding-right: 52px;
}

.icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--gray-500);
}

.errorIcon {
  cursor: default;
  color: var(--red-500);
}
