.wrapper {
  width: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.default {
  outline: 1px solid var(--gray-300);
}
.default:focus-within {
  outline: 2px solid var(--purple-500);
}

.error {
  outline: 1px solid var(--red-300);
}
.error:focus-within {
  outline-width: 2px;
}

.input {
  padding: 10px 14px;
  font-size: 16px;
  border-radius: 8px;
  width: 100%;
  border: none;
  outline: none;
}

.icon {
  display: flex;
  margin-right: 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--gray-500);
}

.errorIcon {
  color: var(--red-500);
  margin-right: 14px;
}
