.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 12px;
}

.heading {
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 413px;
}

.usernameField {
  margin-bottom: 12px;
}

.passwordField {
  margin-bottom: 40px;
}
