.sideSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 16px;
  border-radius: 12px;
  border: 1px solid var(--gray-200);
  height: 100%;
}

.behaviorsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
