.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 32px 60px;
  gap: 24px;
  height: calc(100% - 52px);
}

.sideSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 16px;
  border-radius: 12px;
  border: 1px solid var(--gray-200);
  height: 100%;
}

.middleSection {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  padding: 20px 16px;
  border-radius: 12px;
  border: 1px solid var(--gray-200);
  height: 100%;
}

.homeLink {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 8px;
  transition: background-color 200ms;
}
.homeLink:hover {
  background-color: var(--gray-50);
}
.homeLink:active {
  background-color: var(--gray-100);
}

.usersList {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.userItem {
  padding: 10px 16px;
  cursor: pointer;
  transition:
    background-color 200ms,
    color 200ms;
}

.userItem:hover,
.userItemSelected {
  background-color: var(--purple-50);
  color: var(--purple-800);
}

.userInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  border-radius: 16px;
  border: 1px solid var(--gray-100);
}

.bigIcon {
  display: flex;
  border-radius: 64px;
  background-color: var(--purple-50);
  color: var(--purple-500);
  padding: 24px;
  margin-bottom: 32px;
}

.suggestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
}

.unselectedTitle {
  margin-bottom: 16px;
}

.unselectedText {
  max-width: 440px;
}

.behaviorsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.behaviorItem {
  padding: 12px 16px;
  border: 1px solid var(--gray-200);
  border-radius: 6px;
  cursor: pointer;
}
