.container {
  display: flex;
  justify-content: center;
  gap: 24px;
  height: calc(100% - 50px);
  padding: 24px;
  margin: 0 96px;
}

.section {
  display: flex;
  flex-direction: column;
  width: 282px;
  border: 1px solid var(--c-gray-200);
  border-radius: 12px;
}

.search {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 12px;
  border-bottom: 1px solid var(--c-gray-100);
}

.userList {
  flex: 1;
  overflow-y: auto;
  margin: 16px;
}

.userCard {
  padding: 14px 20px;
  cursor: pointer;
  transition:
    background-color 200ms,
    color 200ms;
}
.userCard:hover,
.selectedUser {
  background-color: var(--c-purple-50);
  color: var(--c-purple-700);
}

.behaviorsHeader {
  margin-top: 16px;
  text-align: center;
}

.behaviorsTitle {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 8px;
}

.behaviorsName {
  font-size: 16px;
  font-weight: 400;
}

.behaviorList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  overflow-y: auto;
}

.overviewSection {
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 1px solid var(--c-gray-200);
  border-radius: 12px;
}

.overviewHeader {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--c-gray-100);
  border-radius: 16px;
  margin: 16px;
  padding: 16px 24px;
}

.name {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.overviewBehaviors {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
  gap: 16px;
  margin: 16px;
}

.overviewBehaviorCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border: 1px solid var(--c-gray-100);
  border-radius: 8px;
}

.commentButton {
  display: flex;
  border: none;
  background-color: transparent;
  color: var(--c-gray-600);
  cursor: pointer;
}

.commentList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 48px;
  overflow-y: auto;
  max-height: 400px;
}

.commentCard {
  padding: 14px 12px;
  border: 1px solid var(--c-gray-200);
}

.commentForm {
  display: flex;
  gap: 8px;
}

.commentInput {
  flex: 1;
}

.createCommentButton {
  width: fit-content;
}
