.container {
  display: flex;
  justify-content: center;
  gap: 24px;
  height: calc(100% - 50px);
  padding: 24px;
  box-sizing: border-box;
}

.usersSection {
  display: flex;
  flex-direction: column;
  width: 282px;
  border: 2px solid var(--c-gray-200);
}

.search {
  padding: 16px 12px;
  border-bottom: 1px solid var(--c-gray-100);
}

.userList {
  flex: 1;
  overflow-y: auto;
}

.userCard {
  padding: 14px 20px;
  border-bottom: 1px solid var(--c-gray-100);
}
