.container {
  display: flex;
  justify-content: center;
  gap: 24px;
  height: calc(100% - 50px);
  padding: 24px;
  box-sizing: border-box;
}

.section {
  display: flex;
  flex-direction: column;
  width: 282px;
  border: 2px solid var(--c-gray-200);
}

.search {
  padding: 16px 12px;
  border-bottom: 1px solid var(--c-gray-100);
}

.userList {
  flex: 1;
  overflow-y: auto;
}

.userCard {
  padding: 14px 20px;
  border-bottom: 1px solid var(--c-gray-100);
}

.behaviorsHeader {
  padding: 14px;
  text-align: center;
  border-bottom: 1px solid var(--c-gray-100);
}

.behaviorsTitle {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 8px;
  margin-top: 0;
}

.behaviorsName {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
}

.behaviorList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  overflow-y: auto;
}

.behaviorCard {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--c-gray-100);
  min-height: 64px;
}
