.container {
  display: flex;
  justify-content: center;
  gap: 24px;
  height: calc(100% - 50px);
  padding: 24px;
  box-sizing: border-box;
}

.usersSection {
  width: 282px;
  padding: 16px 12px;
  border: 2px solid var(--c-gray-200);
}
