.middleSection {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-column: span 2;
  padding: 20px 16px;
  border-radius: 12px;
  border: 1px solid var(--gray-200);
  height: 100%;
  min-height: 0;
}

.userInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  border-radius: 16px;
  border: 1px solid var(--gray-100);
}

.bigIcon {
  display: flex;
  border-radius: 64px;
  background-color: var(--purple-50);
  color: var(--purple-500);
  padding: 24px;
  margin-bottom: 32px;
}

.suggestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.suggestionText {
  margin-bottom: 16px;
}

.suggestionTitle {
  max-width: 440px;
}

.behaviorsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.behaviorItem {
  padding: 12px 24px;
  border: 1px solid var(--gray-100);
  background-color: var(--white);
  border-radius: 8px;
}

.droppableWrapper {
  height: 100%;
  flex: 1;
  overflow-y: auto;
  border: 1px dotted transparent;
  border-radius: 12px;
  padding: 8px;
  transition:
    background-color 200ms,
    border-color 200ms;
}

.dragging {
  background-color: var(--purple-25);
  border-color: var(--purple-400);
}
