.wrapper {
  display: flex;
  gap: 24px;
  flex: 1;
}

.title {
  color: var(--c-gray-700);
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
}

.filters {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.select {
  width: 282px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  padding-left: 120px;
  padding-top: 16px;
  width: 100%;
}

.sidebars {
  display: flex;
  margin-left: auto;
}

.unselected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  color: var(--c-gray-800);
}

.unselectedIcon {
  padding: 24px;
  border-radius: 48px;
  margin-bottom: 32px;
  background-color: var(--c-purple-50);
  color: var(--c-purple-500);
}

.unselectedTitle {
  font-weight: 600;
  margin-bottom: 16px;
}

.unselectedText {
  line-height: 24px;
}
