.wrapper {
  margin: 16px 80px;
  flex: 1;
}

.title {
  margin-bottom: 16px;
}

.filters {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.selectStudent {
  min-width: 300px;
}

@media screen and (max-width: 800px) {
  .wrapper {
    margin: 16px 32px;
  }
}
