.wrapper {
  display: flex;
  gap: 24px;
  flex: 1;
}

.title {
  color: var(--c-gray-700);
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
}

.filters {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.select {
  width: 282px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  padding-left: 120px;
  padding-top: 16px;
}

.sidebars {
  display: flex;
  margin-left: auto;
}
