.sidebar {
  width: 354px;
  border-left: 1px solid var(--c-gray-200);
  margin-left: auto;
  padding: 24px 20px;
}

.title {
  font-weight: 500;
  font-size: 20px;
}

.subtitle {
  font-weight: 500;
  font-size: 16px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.close {
  color: var(--c-gray-200);
  cursor: pointer;
}
.close:hover {
  color: var(--c-gray-500);
}

.rates {
  display: block;
  font-size: 12px;
  margin-bottom: 40px;
}

.ratesNum {
  font-size: 48px;
  font-weight: 600;
}

.switch {
  display: flex;
  background-color: var(--c-gray-100);
  padding: 4px;
  gap: 4px;
  margin-bottom: 48px;
}

.switchButton {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
}

.selectedButton {
  opacity: 1;
  background-color: var(--c-white);
}

.data {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.behavior {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.behaviorHeader {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 12px;
}

.bar {
  height: 8px;
  background-color: var(--c-gray-100);
}
