.card {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 48px;
  border-radius: 24px;
  border: 1px solid var(--gray-400);
  cursor: pointer;
  transition:
    background-color 200ms,
    border-color 200ms;
}

.card:hover {
  border-color: var(--purple-300);
  background-color: var(--purple-50);
}

.title {
  transition: color 200ms;
}
.card:hover .title {
  color: var(--purple-700);
}

.description {
  transition: color 200ms;
}
.card:hover .description {
  color: var(--purple-500);
}

.icon {
  color: var(--gray-400);
  transition: color 200ms;
}
.card:hover .icon {
  color: var(--purple-200);
}

@media screen and (max-width: 600px) {
  .card {
    padding: 20px;
  }

  .title {
    font-size: 18px;
  }
}
