.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 232px;
  gap: 64px;
  padding: 0 12px;
}

.title {
  text-align: center;
}

.cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 630px);
  width: 100%;
  gap: 20px;
}

@media screen and (max-width: 1300px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
